<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729177706310-japer2mqniolait7plu0b7f4n2gaagmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729177706310-japer2mqniolait7plu0b7f4n2gaagmc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pNuWz3F9bNNkQPr_9K1p12ihoLC7YVo</string>
	<key>GCM_SENDER_ID</key>
	<string>729177706310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salus.mental</string>
	<key>PROJECT_ID</key>
	<string>salus-dcb11</string>
	<key>STORAGE_BUCKET</key>
	<string>salus-dcb11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729177706310:ios:507db7338786969d37df47</string>
</dict>
</plist>